* {
    margin:0;
    padding: 0;
}
header {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(images/kg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: rgb(243, 232, 231);
    padding: 5px 20px;
    border: 1px solid rgb(245, 239, 239) transparent;
    border-radius: 2px;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
}
.subtitle{
    position:absolute;
    top: 62%;
    left: 49%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}

.information{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding-top: 395px;
}

.information p {
    font-size: 12px;
}

.sign{
    float: right;
    border: 1px solid #333;
    padding: 7px;
    margin: 0 0 5px 5px;
    background: #f0f0f0;
}
.sign figcaption{
    margin: 0 auto 5px;
}

.container{
    margin-top: 50px;
}

.futt{

}

.second-row{
    margin-top: 50px ;
}

#info-img{
    width: 100%;
}